
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cloud training, .Net Development training">
    <meta name="author" content="">

    <title>From Zero to Hero: Cloud and more</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
        h1 {
            font-size: 24px;
            color: #08a3ca;
        }
        img {
            height: 50px;
            width: 50px;
        }

        i {
            font-size: 20px;
            vertical-align: middle;
        }

        .narrow-padding {
            padding-top: 5px;
            padding-left: 1px;
            padding-right: 1px;
            padding-bottom: 5px;
        }
    </style>
</head>
    <body>       
        <div style="margin-left:10px" class="container" ng-app="myApp" ng-controller="customersCtrl">
            <div ng-include="'header.html'"></div>

            <div class="row">
                <div class="col-xs-8">
                    <b>Cloud Series</b>
                </div>
            </div>
            
            <div ng-repeat="x in courses | orderBy : 'PartitionKey' | lowercase | filter : '!.net'" class="row"  >
                <div class="col-xs-1"  style=" width:50px">
                    <img src="site/img/{{x.RowKey}}.png" alt="{{x.PartitionKey}}" />
                </div>
                <div class="col-xs-8">
                    <a href="course.html?course={{x.PartitionKey}}&path={{x.RowKey}}"> {{x.PartitionKey}} </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8" >
                    <b>.Net Development Series</b>
                </div>
            </div>
            <div ng-repeat="x in courses | orderBy : 'PartitionKey' | lowercase | filter : '.net'"  class="row" >
                <div class="col-xs-1"  style=" width:50px">
                    <img src="site/img/{{x.RowKey}}.png" alt="{{x.PartitionKey}}" />
                </div>
                <div class="col-xs-8">
                    <a href="course.html?course={{x.PartitionKey}}&path={{x.RowKey}}"> {{x.PartitionKey}} </a>
                </div>
            </div>
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function ($scope, $http) {
                $http.get("User").then(function (response) {
                    $scope.user = response.data.trim();
                });

                $http.get("Courses").then(function (response) {
                    $scope.courses = JSON.parse(response.data);
                });
            });
        </script>
    </body>

</html>
